@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Lato:wght@100;300;400&family=Red+Hat+Display:wght@500;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #FAFAFA;
  font-family: 'Red Hat Display', sans-serif;
}

#page-content {
  max-width: 700px;
  margin: 0 auto;
}

.main-header {
  text-align: center;
}

.logo {
  margin: 48px auto 54px;
}

.hero {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.mobile-tablet-image {
  width: 100%;
  transform: scaleX(1.08);
}

.desktop-image {
  display: none;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 48px auto 0;
}

.hero__content h1 {
  font-size: 40px;
  margin-bottom: 24px;
}

.hero__content p {
  font-size: 16px;
  color: #87879d;
  margin: 0 24px;
  line-height: 26px;
}

.btn-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}

.btn {
  height: 58px;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-weight: 900;
  display: block;
}

.btn__download {
  background: #0496a9;
  width: 193px;
}

.btn__download span {
  color: #8fe3f9;
}

.btn__what {
  background: #855fb1;
  width: 139px;
  margin-top: 16px;
}


.section-divide {
  width: 56px;
  height: 56px;
  border: 1px solid #87879d;
  color: #87879d;
  text-align: center;
  line-height: 56px;
  border-radius: 50%;
  font-weight: 900;
  margin: 0 auto;
  position: relative;
  background: #fff;
}

.section-divide::before {
  content: "";
  width: 84px;
  height: 1px;
  background: #87879d;
  display: block;
  position: absolute;
  transform: rotate(90deg);
  top: -43.5px;
  right: -15px;
}

.divide-1 {
  margin: 148px auto 64px;
}

.section-divide--above-footer {
  top: 30px;
  z-index: 1;
}

.photos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  width: 327px;
  margin: 0 auto 64px;
}

.photos img {
  width: 100%;
  border-radius: 10px;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 327px;
  margin: 0 auto;
  margin-bottom: 176px;
}

.main-content h3 {
  color: #4d96a9;
  letter-spacing: 4px;
  font-size: 100;
  margin-bottom: 24px;
}

.main-content h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 32px;
}

.main-content p {
  font-size: 16px;
  text-align: center;
  line-height: 26px;
  color: #87879d;
}

.footer {
  background: url("../images/mobile/image-footer.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 428px;
  position: relative;
  color: #fff;
}

.footer__content {
  background-color: rgba(77, 150, 169, 0.8);
  height: 100%;
  padding-top: 92px;
}

.footer__content h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 24px;
}

.footer__content p {
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 32px;
  width: 330px;
}

.btn__download--footer {
  background: #855fb1;
  margin: 0 auto;
}

.btn__download--footer span {
  color: #d9bbff;
}

@media screen and (min-width: 768px) {
  #page-content {
    max-width: 950px;
  }

  .logo {
    margin-bottom: 64px;
  }

  .btn-group {
    flex-direction: row;
  }

  .btn__what {
    margin-top: 0;
  }

  .btn-group .btn__download {
    margin-right: 16px;
  }

  .photos {
    grid-template-columns: repeat(4, 1fr);
    width: 689px;
  }

  .photos img {
    width: 164px;
  }

  .hero__content {
    width: 460px;
  }

  .main-content {
    width: 540px;
  }

  .main-content h2 {
    width: 325px;
  }

  .footer {
    background: url("../images/tablet/image-footer.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .btn__download--footer {
    margin-top: 40px;
  }

  .footer__content h2 {
    width: 457px;
    font-size: 40px;
    margin: 0 auto 32px;
  }

  .footer__content p {
    width: 570px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  #page-content {
    max-width: 1440px
  }
  .hero {
    align-items: flex-end;
    height: 360px;
  }

  .hero__content {
    margin: 0;
    margin-bottom: 10px;
  }

  .desktop-image {
    display: block;
  }

  .mobile-tablet-image {
    display: none;
  }
  
  .hero__image--left {
    position: relative;
    right: 40px;
  }
  
  .hero__image--right {
    position: relative;
    left: 40px;
  }

  .hero__image--right {
    order: 1;
  }

  .hero__image, .hero__content {
    width: 33.333333%;
  }

  .btn-group .btn {
    margin-bottom: 0;
  }

  .photos {
    width: 1110px;
    margin: 0 auto 64px;
  }

  .photos img {
    width: 255px;
  }

  .footer {
    background: url("../images/desktop/image-footer.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 308px;
  }

  .footer__content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 165px;
  }

  .footer-item {
    margin: 0;
    margin: auto;
  }

  .footer-item p {
    text-align: left;
    font-size: 18px;
  }

  .footer-item h2 {
    width: 350px;
    text-align: left;
  }

  .btn {
    cursor: pointer;
  }

  .btn__download:hover {
    background-color: #71c0d4;
  }

  .btn__what:hover,
  .btn__download--footer:hover {
    background-color: #b188dd;
  }
}