@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Lato:wght@100;300;400&family=Red+Hat+Display:wght@500;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  font-family: 'Red Hat Display', sans-serif;
}

#page-content {
  width: 375px;
  margin: 0 auto;
  background: #fff;
}

.hero {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.hero-logo {
  width: 120px;
  align-self: center;
  margin: 54px 0;
}

.hero-images {
  display: flex;
  position: relative;
}

.hero-images img {
  width: 50%;
}

.hero-images img:first-child {
  position: relative;
  right: 20px;
}

.hero-images img:last-child {
  position: relative;
  left: 10px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.download, .what {
  height: 58px;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-weight: 900;
  display: block;
}

.download {
  background: #0496a9;
  width: 193px;
  margin-top: 36px;
}

.download span {
  color: #8fe3f9;
}

.what {
  background: #855fb1;
  width: 139px;
  margin-top: 16px;
  margin-bottom: 148px;
}

.hero-content h1 {
  font-size: 40px;
  margin-top: 48px;
  margin-bottom: 24px;
  text-align: center;
}

.hero-content p {
  font-size: 16px;
  color: #87879d;
  margin: 0 24px;
  text-align: center;
  line-height: 26px;
}


.section-divide {
  width: 56px;
  height: 56px;
  border: 1px solid #87879d;
  color: #87879d;
  text-align: center;
  line-height: 56px;
  border-radius: 50%;
  font-weight: 900;
  margin: 0 auto;
  position: relative;
}

.section-divide::before {
  content: "";
  width: 84px;
  height: 1px;
  background: #87879d;
  display: block;
  position: absolute;
  transform: rotate(90deg);
  top: -43.5px;
  right: -15px;
}

.photos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  width: 330px;
  margin: 64px auto;
}

.photos img {
  width: 100%;
  border-radius: 10px;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 330px;
  margin: 0 auto;
  margin-bottom: 148px;
}

.main-content h3 {
  color: #4d96a9;
  letter-spacing: 4px;
  font-size: 100;
  margin-bottom: 24px;
}

.main-content h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 32px;
}

.main-content p {
  font-size: 16px;
  text-align: center;
  line-height: 26px;
  color: #87879d;
}